* {
   margin: 0 0;
}
#form #pass {
   margin-top: 20px;
}
#form #city {
   margin-top: 20px;
}
#name {
   margin-top: 20px;
   height: 30px;
}
#error1 {
   color: red;
   font-size: 10px;
   margin-left: 50px;
}
#pass {
   height: 30px;
}
#error2 {
   color: red;
   font-size: 10px;
   margin-left: 50px;
}
#error3 {
   color: red;
   font-size: 10px;
   margin-left: 50px;
}
#error4 {
   color: red;
   font-size: 10px;
   margin-left: 50px;
}
#city {
   margin-top: 20px;
   height: 30px;
}
#gender {
   margin-top: 20px;
}
#form {
   padding-top: 30px;
   margin-left: 300px;
   background-color: #d0d0d0;
   width: 230px;
   padding-left: 60px;
   padding-bottom: 15px;
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
   border-radius: 5px 5px;
}
button {
   background-color: #167fd8;
   width: 90px;
   height: 30px;
   margin-left: 35px;
   border: solid 1px #d0d0d0;
   color: #d0d0d0;
   font-size: 20px;
   border-radius: 5px 5px;
   margin-top: 15px;
}
button:hover {
   background-color: #d0d0d0;
   color: #167fd8;
   cursor: pointer;
   transition: 0.8s;
   border: 1px solid #167fd8;
}
h2 {
   text-transform: lowercase;
   font-size: 20px;
}
::placeholder {
   font-size: 10px;
}
